<article style="max-width: 60ch; margin: 1ch auto; padding: 1ch;">
    <h2>Про Читанку Онлайн</h2>
    <p>Читанка Онлайн &mdash; це некомерційний проєкт, створений для зручного читанння манґи українською.</p>
    <p>Проєкт не зберігає контент на серверах, а бере його з <a href="http://mangadex.org" target="_blank" rel="noopener noreferrer">MangaDex</a> через офіційний <a href="https://api.mangadex.org/docs/" target="_blank" rel="noopener noreferrer"><abbr title="Прикладний програмний інтерфейс">ППІ</abbr>.</a></p>
</article>