<header>
  <img [routerLink]="'/'" id="logo" src="/icons/icon-72x72.svg" alt="Chytanka logo">
  <h1 [routerLink]="'/'" class="logo-text">Читанка<sub><small title="beta">β</small></sub><sup><small>Online</small></sup></h1>
</header>
<main><router-outlet /></main>
<footer>Читанка<sup style="color: #1f6c00; font-family: 'Courier New', Courier, monospace;"><small>Online</small></sup> &copy; 2024 | Powered with <a
    href="http://mangadex.org" target="_blank" rel="noopener noreferrer">MangaDex</a>
  </footer>