<header>
  <nav>
    <a [routerLink]="'/'" class="logo-link" title="Читанка Онлайн">
      <img id="logo" src="/icons/icon-72x72.svg" alt="Chytanka logo">
      <h1 class="logo-text">
        <span>Читанка</span>
        <sub><small title="beta">β</small></sub>
        <sup><small>Онлайн</small></sup>
      </h1>
    </a>
  </nav>
  <app-search-form />
</header>
<main><router-outlet /></main>
<footer>
  <div>
    <a href="/about">Ебаут</a>
    Читанка<sup style="color: #1f6c00; font-family: 'Courier New', Courier, monospace;"><small>Онлайн</small></sup>
    &copy; 2024 | Powered with <a href="http://mangadex.org" target="_blank" rel="noopener noreferrer">MangaDex</a>
  </div>
  <made-in-ukraine />
</footer>