@if (title$ | async; as title) {

<div>
    @if(currentId()){<iframe class="chtnk-frame"
        [src]="sanitizer.bypassSecurityTrustResourceUrl('https://chytanka.github.io/mangadex/'+currentId()+'?lang=uk&vm='+ (MangadexHelper.isLongStrip(title.attributes.tags) ? '3': '1'))"
        frameborder="0" allowfullscreen title="Chytanka"></iframe>}

    <p>
        <a href="//mangadex.org/title/{{title.id}}" target="_blank" rel="noopener noreferrer">MangaDex</a>
        @for(siteId of Object.getOwnPropertyNames(title.attributes.links); track $index) {
        <a href="{{getLink(siteId, title.attributes.links[siteId] )?.template}}" target="_blank"
            rel="noopener noreferrer">{{getLink(siteId, '')?.name}}</a>
        }
    </p>

    <p>{{MangadexHelper.desc(title.attributes)}}</p>

    <p style="display: flex; flex-wrap: wrap; gap: 1ch;">
        @for (genre of MangadexHelper.genreTags(title.attributes.tags); track $index) {
            <a [routerLink]="['/']" [queryParams]="{genre: genre.id}">{{genre.names.uk ?? genre.names.en}}</a>
        }
 
        @for (genre of MangadexHelper.themeTags(title.attributes.tags); track $index) {
            <a [routerLink]="['/']" [queryParams]="{theme: genre.id}">{{genre.names.uk ?? genre.names.en}}</a>
        }

        @for (genre of MangadexHelper.contentTags(title.attributes.tags); track $index) {
            <a [routerLink]="['/']" [queryParams]="{content: genre.id}">{{genre.names.uk ?? genre.names.en}}</a>
        }
 
        @for (genre of MangadexHelper.formatTags(title.attributes.tags); track $index) {
            <a [routerLink]="['/']" [queryParams]="{format: genre.id}">{{genre.names.uk ?? genre.names.en}}</a>
        }
    </p>
</div>

<aside>

    <h2 style="color: var(--shc);">{{MangadexHelper.getTitle(title.attributes)}}</h2>

    @if (episodes$ | async; as episodes) {

    <ul class="episode-list">@for (episode of episodes; track $index) {
        <li [ngClass]="{active: episode.id == currentId()}"><a (click)="currentId.set(episode.id)">
                @if(episode.attributes.volume){
                <span title="Том">т.{{episode.attributes.volume}} </span> }
                @if(episode.attributes.chapter){
                <span title="Розділ">р.{{episode.attributes.chapter}} </span> }
                <span>{{episode?.attributes?.title}}</span> </a>

            <small> <data [value]="episode.attributes.publishAt">{{episode.attributes.publishAt | date : 'medium'}}</data> <a
                    [href]="MangadexHelper.getScanlationGroup(episode.relationships)?.attributes.website ?? ''"
                    target="_blank" rel="noopener noreferrer">
                    {{MangadexHelper.getScanlationGroup(episode.relationships)?.attributes.name}}</a></small>

        </li>
        }
    </ul>
    }

    <img-rotate
        [src]="titleService.proxy.proxyUrl('https://mangadex.org/covers/'+title.id+'/'+MangadexHelper.getCover(title.relationships).attributes?.fileName+'.512.jpg')"
        alt="Cover {{MangadexHelper.getTitle(title.attributes)}}" (load)="averageColor($event, document)" />

</aside>
}