:host {
    --shc: oklch(from var(--avarage-color, #c3d3e3) 62% c calc(h + 60));
    --shc2: oklch(from var(--avarage-color, #c3d3e3) 72% c calc(h + 60));

    display: grid;
    grid-template-columns: 61.8fr 38.2fr;
    gap: 2ch 3ch;
    padding: 2ch;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;

    }
}

.chtnk-frame {
    width: 100%;
    aspect-ratio: 3/2;
    overflow: auto;
    resize: vertical;
    max-height: 80dvh;
    padding-bottom: 1ch;
    border: 1px solid var(--shc2);
    border-radius: var(--radius);
    box-shadow: .1ch .1ch var(--shc2),
        .2ch .2ch var(--shc),
        .3ch .3ch var(--shc),
        .4ch .4ch var(--shc),
        .5ch .5ch var(--shc2);

    @media ((orientation: portrait) and (max-aspect-ratio: 1)) or (max-width: 1024px) {
        aspect-ratio: 2/3;
    }

    // @media (max-width: 800px) {
    //     max-height: 80vh;
    // }
}

.contents {
    display: grid;
    gap: 1ch;
    border-radius: .5ch;
    border: 1px solid var(--shc2);
    box-shadow: .1ch .1ch var(--shc),
        .2ch .2ch var(--shc),
        .3ch .3ch var(--shc2);
    background-color: oklch(from var(--surface-avarage) calc(l + .1) c h);

    h2 {
        padding: 0 1ch;
    }
}

.episode-list {
    display: grid;
    gap: 1ch;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    align-content: baseline;
    
    li {
        align-items: center;
        padding: .5ch 1ch;
        font-size: small;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1ch;

        &.active {
            background-color: oklch(from var(--surface-avarage) calc(l - .1) c h);
        }
    }
}

aside {
    display: grid;
    grid-template-rows: 1fr auto;
    max-height: calc(100vh - (60px + 4ch));
    gap: 2ch;

    h2 {
        margin: 0;
    }
}

.sites {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    margin: 1ch 0;

    div {
        display: flex;
        gap: .5ch;
        align-self: center;
    }
}

.favicon {
    display: inline-block;
    width: 1lh;
    aspect-ratio: 1;
}