:host {
    --shc: oklch(from var(--avarage-color, #c3d3e3) 62% c calc(h + 60));
    --shc2: oklch(from var(--avarage-color, #c3d3e3) 72% c calc(h + 60));

    display: grid;
    grid-template-columns: 61.8fr 38.2fr;
    gap: 2ch 2ch;
    padding: 2ch;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;

    }
}

.chtnk-frame-wrap {
    display: grid;
    aspect-ratio: 253/182;
    position: relative;
    border-radius: var(--radius);
    border: 2px solid var(--avarage-color);
    box-shadow: .1ch .1ch var(--shc),
        .2ch .2ch var(--shc),
        .3ch .3ch var(--shc2);
    overflow: hidden;
    max-height: 80dvh;
    padding-bottom: 1ch;

    @media ((orientation: portrait) and (max-aspect-ratio: 1)) or (max-width: 1024px) {
        aspect-ratio: 257 / 364;
    }

    loading {
        position: absolute;
        inset: 0;
        width: unset;
        height: unset;
        aspect-ratio: unset;
        grid-area: 1/1;
        z-index: -1;
        backdrop-filter: unset;
    }
}

.chtnk-frame {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.contents {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1ch;
    border-radius: var(--radius);
    border: 2px solid var(--avarage-color);
    box-shadow: .1ch .1ch var(--shc),
        .2ch .2ch var(--shc),
        .3ch .3ch var(--shc2);
    background-color: oklch(from var(--surface-avarage) calc(l + .1) c h);

    h2 {
        padding: 0 1ch;
    }
}

img-rotate {
    border-radius: var(--radius);
}

.title-desc {
    border: 1px solid var(--avarage-color);
    box-shadow: .1ch .1ch var(--shc),
        .2ch .2ch var(--shc),
        .3ch .3ch var(--shc2);
    background-color: oklch(from var(--surface-avarage) calc(l + .1) c h);
    border-radius: var(--radius);
    margin: 2ch 0 0;
    padding: 2ch;
}

@supports (animation-timeline: view()) {
    .title-desc {
        animation: opacity both ease-in-out;
        animation-timeline: view(block);
        animation-range: entry, exit;
    }

    @keyframes opacity {
        0% {
            opacity: .25;
        }
    }
}

.episode-list {
    display: grid;
    gap: 1ch;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    align-content: baseline;

    li {
        align-items: center;
        padding: .5ch 1ch;
        font-size: small;
        display: grid;
        grid-template-columns: 1fr minmax(auto, 1fr) auto;
        gap: 1ch 2ch;

        &.active {
            background-color: oklch(from var(--surface-avarage) calc(l - .1) c h);
        }

        .scanlation-groups {
            display: flex;
            flex-wrap: wrap;
            gap: 1ch;
            font-size: small;
        }
    }
}

aside {
    display: grid;
    grid-template-rows: 1fr auto;
    max-height: calc(100vh - (60px + 4ch));
    gap: 2ch;

    h2 {
        margin: 0;
    }

    section {
        overflow: hidden;
        min-height: 50vh;
    }


}

.sites {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    margin: 1ch 0;

    img {
        display: inline-block;
        align-items: center;
        aspect-ratio: 1;
        object-fit: contain;
    }

    div {
        display: flex;
        gap: .5ch;
        align-self: center;
    }
}

.favicon {
    display: inline-block;
    width: 1lh;
    aspect-ratio: 1;
}

.more-titles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    gap: 2ch;
    perspective: 4000px;
}