:host {
    --gap: 2ch;
    display: block;
    padding: var(--gap);
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    gap: var(--gap);
    perspective: 4000px;
}

.tags {
    padding: 0 1ch;

    span {
        font-size: small;
    }
}

.button {
    line-height: 1;
}

.button.active {
    display: block;
    transform: translateY(-1ch);
}

loading {
    position: relative;
    font-family: 'Troubleside';
}