:host {
    --gap: 2ch;
    display: block;
    padding: var(--gap);
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    gap: var(--gap);
    perspective: 4000px;
}

.tags {
    padding: 0 1ch;

    span {
        font-size: small;
    }
}

loading {
    position: relative;
    font-family: 'Troubleside';
}

nav {
    padding: 4ch var(--gap) var(--gap);
    display: flex;
    margin: 0;
    // font-family: 'Troubleside';
    font-family: 'Courier New', Courier, monospace;
    gap: 0;
    list-style: none;
    align-items: center;
    justify-content: center;

    a {
        padding: 1ch;
        line-height: 1;
        cursor: pointer;
        min-width: 4ch;
        text-align: center;

        &.disabled {
            pointer-events: none;
        }
    }

    a:nth-child(odd) {
        margin-right: 1ch;
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
    }

    a:nth-child(even) {
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }
}

@starting-style {
    title-card {
        opacity: 0;
    }
}