@if (error$ | async) {
error
}

@if (list$ | async; as list) { @if(!(loading$ | async)){
<div style="display: grid; grid-template-columns: 1fr auto; gap: 1ch; align-items: center;">
    <h2>🗂️ Знайдено {{catalog.total()}} тайтлів з 🇺🇦 перекладом</h2>
    <button disabled class="button" title="Фільтр">🎛️</button>
</div>

<section>
    @for (item of list.data; track $index) {
    <title-card [item]="item" />
    }

</section>

@if(catalog.getPaginationPages(catalog.total(), catalog.page(), catalog.limit()).length > 1)
{
<div style="text-align: center; padding: 4ch var(--gap) var(--gap);">
    <span>📄</span>

    <ul style="display: inline-flex; margin: 0; font-family: 'Troubleside';
    padding: 0; gap: 1ch; list-style: none; align-items: center;">
        @for (item of catalog.getPaginationPages(catalog.total(), catalog.page(), catalog.limit()); track $index) {
        @if(item != -1){
        <li><a [ngClass]="{active: catalog.page() == item, disabled: catalog.page() == item}" class="button small"
                [routerLink]="'/'" [queryParams]="mapQueryParamsWithPage(item)">{{item}}</a></li>}
        @else {
        <separator />
        }
        }
    </ul>
</div>}
} @else {
<loading />
}

}